body{
  background-color: rgb(29, 28, 37);
}
.main{
  margin: 100px auto;
  width: 300px;
  padding: 10px;
  background-color: rgb(48, 47, 56);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
input[type=submit]{
  background-color: rgb(90, 111, 243);
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  color: white;
}
input[type=submit]:disabled{
  background-color: gray;
  color: black;
}
hr{
  width: 100px;
  border:none;
  height: 2px;
  background-color: blue;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
input[type=text]{
  width:250px;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
}
label{
  font-size: 15px;
  color: lightgray;
}